.content {
	clear: both;
	display: block;
	width: 100%;
	background-color: #f5f5ed;
	padding: 20px 0 20px 0;
}
.content-inner {
	clear: both;
	display: table;
	width: 1200px;
	margin: 0 auto;
}
.content-inner .column-left {
	display: table-cell;
	width: 12%;
	vertical-align: top;
}
.content-inner .column-left.main-page {
	width: 12%;
}
.content-inner .column-left img {
    margin-bottom: 40px;
	margin-top: 20px;
}
.content-inner .column-center {
	display: table-cell;
	width: 76%;
	vertical-align: top;
    padding: 30px 30px 30px 30px;
}
.content-inner .column-center.main-page {
	width: 68%;
}
.content-inner .column-right {
	display: table-cell;
	width: 12%;
	vertical-align: top;
}
.content-inner .column-right.main-page {
	width: 20%;
}
.content-inner .column-right img {
    margin-bottom: 20px;
}