html {
	box-sizing: border-box;
	font-family: 'Merriweather', serif;
	font-style: italic;
}
*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
	font-family: inherit;
}
body {
	background-color: #333333;
}
img {
  max-width: 100%;
  max-height: 100%;
}
img.photo {
	border: 8px solid #dfdfdc;
	opacity: 1.0;
}
p {
    line-height: 22px;
    text-indent: 20px;
    opacity: 0.8;
}
td {
	vertical-align: top;
	font-size: 14px;
	font-style: normal;
    line-height: 30px;
	color: #515151;
}
