.header-menu {
	clear: both;
	display: block;
	width: 100%;
	background-color: #9fc4c2;
	font-family: 'Ubuntu', sans-serif;
}
.header-menu ul.dropdown {
	display: block;
	padding: 0;
	list-style-type: none;
	position: relative;
	width: 1200px;
	margin: 0 auto;
	font-size: 0;
	border-left: 1px solid #8cb0ae;
	background-color: transparent;
}
.header-menu ul.dropdown li {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0;
	border-right: 1px solid #8cb0ae;
	text-align: center;
	background-color: #9fc4c2;
	width: 14.28%
}
.header-menu ul.dropdown li:hover ul.dropdown-content {
	display: block;
}
.header-menu ul.dropdown a {
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	font-size: 14px;
	text-decoration: none;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	color: #333333;
	line-height: 36px;
}
.header-menu ul.dropdown a > ul > li > a.current,
.header-menu ul.dropdown a.current {
	background-color: #ffffff;
	color: #e64135;
}

.header-menu ul.dropdown a:hover {
	background-color: #ffffff;
}
.header-menu ul.dropdown a.active {
	text-decoration: underline;
}
.header-menu ul.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #373737;
  padding:0;
}
.header-menu ul.dropdown-content li {
	text-align: left;
	width: 100%;
}
.header-menu ul.dropdown-content a {
	padding-left: 15px;
	padding-right: 5px;
}